@charset "UTF-8";
/* ==========================================================================
    Reset
   ========================================================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ==================================
// メディアクエリ
===================================== */
body {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .wrap {
    display: block;
  }
}

.reserve {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inner {
  padding: 0 172px;
}

/* ==================================
// フェードイン
===================================== */
.fv-fade {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fv-fade.loadin {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fade.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.l-header {
  top: 0;
  width: 100vw;
  position: fixed;
  height: 94px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
  z-index: 1000;
}

@media screen and (max-width: 576px) {
  .l-header {
    padding: 0 4vw;
  }
}

.l-header__inner {
  max-width: 1022px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header img {
  width: 47px;
  height: 47px;
}

.l-header a {
  text-decoration: none;
  color: #333333;
}

.l-header__title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-left: 16px;
}

@media screen and (max-width: 576px) {
  .l-header__title {
    font-size: 20px;
    margin-left: 8px;
  }
}

.l-header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .l-header__nav {
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: fixed;
    background-color: #e1e1e1;
  }
  .l-header__nav__list {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header__nav .c-button {
    display: none;
  }
}

.l-header__nav__item {
  margin-right: 45px;
}

@media screen and (max-width: 576px) {
  .l-header__nav__item {
    margin-right: 0;
    margin-bottom: 50px;
    font-size: 20px;
  }
}

.l-header__nav__item:nth-child(3) {
  margin-right: 184px;
}

@media screen and (max-width: 576px) {
  .l-header__nav__item:nth-child(3) {
    margin-right: 0;
  }
}

.l-main {
  position: relative;
  background-image: url(../image/circle.png);
  background-position: right -85px top -30px;
  background-repeat: no-repeat;
  background-size: 708px 711px;
  height: 768px;
  z-index: -1000;
}

@media screen and (max-width: 576px) {
  .l-main {
    width: 100%;
  }
}

.l-main__inner {
  max-width: 1022px;
  margin-left: auto;
  margin-right: auto;
  padding: 250px 20px;
}

@media screen and (max-width: 576px) {
  .l-main__inner {
    padding: 0 20px;
  }
}

.l-main__text {
  text-align: left;
}

@media screen and (max-width: 576px) {
  .l-main__text {
    text-align: center;
    padding-top: 120px;
  }
}

@media screen and (max-width: 576px) {
  .l-main__text .c-button {
    margin: 0 auto 20px;
  }
}

.l-main__title {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 44px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .l-main__title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.l-main__subTitle {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 45px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .l-main__subTitle {
    margin-bottom: 20px;
  }
}

.l-main__img {
  position: absolute;
  width: 518px;
  height: 430px;
  top: 225px;
  right: 172px;
}

@media screen and (max-width: 576px) {
  .l-main__img {
    position: static;
    width: 330px;
    height: 330px;
  }
}

.l-footer {
  width: 100%;
  text-align: center;
}

.l-footer__inner {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
}

.l-footer__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;
}

.l-footer__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 52px;
}

.l-footer__privacy p {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .l-footer__privacy p {
    font-size: 14px;
  }
}

.c-button {
  width: 155px;
  height: 37px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0));
  background: linear-gradient(to right, #fa41cc, #6020b0);
  color: #ffffff;
  display: block;
  border: none;
}

.c-section__title {
  font-size: 32px;
  margin-bottom: 10px;
  padding-top: 55px;
  font-weight: bold;
  line-height: 1.4;
}

@media screen and (max-width: 576px) {
  .c-section__title {
    font-size: 27px;
  }
}

.c-section__title__en {
  font-size: 16px;
  color: #3ba6c9;
  line-height: 1.5;
}

.burger__btn {
  display: none;
  /*開いた時のボタン*/
}

@media screen and (max-width: 576px) {
  .burger__btn {
    display: block;
    background: transparent;
    height: 40px;
    width: 45px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
  }
}

.burger__btn .bar {
  display: block;
  background-color: black;
  height: 2px;
  width: 30px;
  border-radius: 1px;
}

.burger__btn .bar-top {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger__btn .bar-bottom {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: transoform 0.3s;
  transition: transoform 0.3s;
}

.burger__btn .bar.cross.bar-top {
  -webkit-transform: translateY(2px) rotate(30deg);
          transform: translateY(2px) rotate(30deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger__btn .bar.cross.bar-mid {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger__btn .bar.cross.bar-bottom {
  -webkit-transform: translateY(-2px) rotate(-30deg);
          transform: translateY(-2px) rotate(-30deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.l-header__nav.open {
  opacity: 1;
}

.p-features {
  text-align: center;
}

.p-features__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-features__container {
  margin-top: 57px;
  margin-bottom: 86px;
}

.p-features__title {
  font-size: 28px;
  margin-bottom: 61px;
}

@media screen and (max-width: 576px) {
  .p-features__title {
    font-size: 20px;
  }
}

.p-features__text {
  text-align: left;
}

@media screen and (max-width: 576px) {
  .p-features__text {
    margin-top: 20px;
  }
}

.p-features__text h4 {
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 2;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .p-features__text h4 {
    font-size: 20px;
  }
}

.p-features__text p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

.p-price {
  text-align: center;
  background-color: #eefbfb;
  width: 100%;
  padding-top: 55px;
}

.p-price__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-price__table {
  width: 100%;
  height: 410px;
  margin: 70px auto 36px auto;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
}

.p-price__table th {
  border: 1px solid #e5e5e5;
  width: 30%;
  padding: 35px 19px;
  min-width: 300px;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .p-price__table th {
    min-width: 0;
  }
}

.p-price__table td {
  border: 1px solid #e5e5e5;
  width: 70%;
  text-align: left;
  padding: 35px;
}

.p-price p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  padding-bottom: 68px;
}

.p-faq {
  width: 100%;
  text-align: center;
  padding-top: 55px;
}

.p-faq__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-faq__content {
  width: 907px;
  margin: 32px auto 86px;
}

@media screen and (max-width: 576px) {
  .p-faq__content {
    width: auto;
  }
}

.p-faq__question {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 18px;
}

@media screen and (max-width: 576px) {
  .p-faq__question {
    padding: 20px 4vw 18px;
  }
}

.p-faq__answer {
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 1.8;
  text-align: left;
  padding: 23px 87px 27px 35px;
  display: none;
}

@media screen and (max-width: 576px) {
  .p-faq__answer {
    padding: 23px 4vw 23px;
  }
}

.p-faq__answer.open {
  display: block;
}

.p-blog {
  background-color: #eefbfb;
  padding-top: 55px;
  text-align: center;
}

.p-blog__inner {
  padding: 0 70px;
}

@media screen and (max-width: 576px) {
  .p-blog__inner {
    padding: 0 4vw;
  }
}

.p-blog__list {
  margin-top: 54px;
  padding-bottom: 91px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(345px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  grid-gap: 30px;
}

.p-blog__item {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  height: 387px;
  background-color: #ffffff;
}

.p-blog__item__img {
  height: 260px;
}

.p-blog__item__img img {
  width: 100%;
  height: 100%;
}

.p-blog__item__text {
  position: relative;
  height: 127px;
}

.p-blog__item__text__sentence {
  height: 78px;
  padding: 14px 30px 1px 18px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
}

@media screen and (max-width: 576px) {
  .p-blog__item__text__sentence {
    font-size: 14px;
  }
}

.p-blog__item__text__date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-right: 32px;
  font-weight: bold;
}

.p-works {
  text-align: center;
  padding-top: 55px;
}

@media screen and (max-width: 576px) {
  .p-works {
    padding: 0 4vw;
  }
}

.p-works .swiper-container {
  width: 100%;
  padding-top: 68px;
  margin-bottom: 90px;
}

.p-works .swiper-container .swiper-slide {
  width: 322px;
  height: 407px;
  margin-right: 56px;
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.p-works .swiper-container .swiper-slide img {
  width: 100%;
  height: 210px;
}

.p-works .swiper-container .swiper-slide__text {
  padding: 18px 18px 40px 18px;
  text-align: left;
}

.p-works .swiper-container .swiper-slide__text__sentence {
  padding-bottom: 30px;
  font-size: 16px;
}

.p-works .swiper-container .swiper-slide__text p {
  font-size: 14px;
}

.p-contact {
  padding-top: 63px;
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#05a5fa), color-stop(100%, #63fbd7), to(#67ffd6));
  background: transparent linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
  padding-bottom: 70px;
}

.p-contact .c-section__title {
  color: #ffffff;
}

.p-contact .c-section__title__en {
  color: #ffffff;
}

.p-contact .c-section__title__sub {
  color: #ffffff;
  font-size: 16px;
  margin-top: 36px;
  margin-bottom: 44px;
}

.p-contact__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-contact__form {
  background-color: #ffffff;
  height: 689px;
  text-align: left;
  padding: 35px 63px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .p-contact__form {
    padding: 35px 20px;
  }
}

.p-contact__form span {
  background-color: #0c449b;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 16px;
  margin-left: 23px;
}

.p-contact__form__text {
  display: block;
  background-color: #eefbfb;
  border: none;
  border-radius: 3px;
  width: 499px;
  height: 43px;
  margin-top: 35px;
  margin-bottom: 25px;
}

@media screen and (max-width: 576px) {
  .p-contact__form__text {
    width: 100%;
  }
}

.p-contact__form__textarea {
  display: block;
  background-color: #eefbfb;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 179px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.p-contact__form__privacy {
  text-align: center;
  margin-bottom: 30px;
}

.p-contact__form .c-button {
  display: block;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */