/* ==========================================================================
    Reset
   ========================================================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inner {
  padding: 0 172px;
}

.l-header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 94px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
  z-index: 100;
}

.l-header__inner {
  padding: 35px 172px;
}

.l-header__siteTitle {
  width: 300px;
}

.l-header__siteTitle a {
  text-decoration: none;
  color: #333333;
}

.l-header__logo {
  width: 47px;
  height: 47px;
  margin-right: 16px;
}

.l-header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__nav__item {
  margin-right: 46px;
}

.l-header__nav__item:nth-child(3) {
  margin-right: 184px;
}

.l-fv {
  position: relative;
  width: 100%;
  height: 674px;
  background-image: url(../image/circle.png);
  background-position: top -120px right -120px;
  background-repeat: no-repeat;
  background-size: auto;
}

.l-fv__text {
  position: absolute;
  top: 168px;
  left: 192px;
}

.l-fv__img {
  position: absolute;
  width: 518px;
  height: 430px;
  top: 131px;
  left: 676px;
}

.c-button {
  width: 155px;
  height: 37px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0));
  background: linear-gradient(to right, #fa41cc, #6020b0);
  color: #ffffff;
}

.c-fv__title {
  font-size: 32px;
  color: #333333;
  margin-bottom: 44px;
  width: 351px;
  height: 138px;
}

.c-fv__subTitle {
  font-size: 16px;
  color: #333333;
  margin-bottom: 53px;
}

.c-section__title {
  font-size: 32px;
  margin-bottom: 10px;
}

.c-section__title__en {
  font-size: 16px;
  color: #3ba6c9;
}

.p-features {
  text-align: center;
}

.p-features__container {
  margin-bottom: 86px;
}

.p-features__title {
  font-size: 28px;
  margin-bottom: 49px;
}

.p-features__text {
  text-align: left;
}

.p-features__text h4 {
  font-size: 24px;
  margin-bottom: 45px;
}

.p-price {
  text-align: center;
  background-color: #eefbfb;
  height: 744px;
  width: 100%;
  padding-top: 55px;
}

.p-price__table {
  width: 100%;
  height: 410px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
  margin-top: 70px;
  margin-bottom: 36px;
}

.p-price__table tr {
  border-bottom: 1px solid #e5e5e5;
}

.p-price__table tr th {
  border-right: 1px solid #e5e5e5;
  width: 30%;
  padding: 35px;
}

.p-price__table tr td {
  padding-right: 521px;
}

.p-faq {
  text-align: center;
  padding-top: 55px;
}

.p-faq__content {
  width: 907px;
}
/*# sourceMappingURL=style.css.map */