/* ==========================================================================
    Reset
   ========================================================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inner {
  padding: 0 172px;
}

.l-header {
  top: 0;
  width: 100%;
  position: fixed;
  height: 94px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
  z-index: 1000;
}

.l-header__inner {
  max-width: 1022px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  height: 100%;
}

.l-header img {
  width: 47px;
  height: 47px;
}

.l-header a {
  text-decoration: none;
  color: #333333;
}

.l-header__title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-left: 16px;
}

.l-header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__nav__item {
  margin-right: 45px;
}

.l-header__nav__item:nth-child(3) {
  margin-right: 184px;
}

.l-main {
  position: relative;
  background-image: url(../image/circle.png);
  background-position: right -85px top -30px;
  background-repeat: no-repeat;
  background-size: 708px 711px;
  height: 768px;
  z-index: -1000;
}

.l-main__inner {
  max-width: 1022px;
  margin-left: auto;
  margin-right: auto;
  padding: 250px 20px;
}

.l-main__text {
  text-align: left;
}

.l-main__title {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 44px;
  font-weight: bold;
}

.l-main__subTitle {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 45px;
  font-weight: bold;
}

.l-main__img {
  position: absolute;
  width: 518px;
  height: 430px;
  top: 225px;
  right: 172px;
}

.l-footer {
  width: 100%;
  text-align: center;
}

.l-footer__inner {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
}

.l-footer__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;
}

.l-footer__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 52px;
}

.l-footer__privacy p {
  font-size: 16px;
  font-weight: bold;
}

.c-button {
  width: 155px;
  height: 37px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0));
  background: linear-gradient(to right, #fa41cc, #6020b0);
  color: #ffffff;
  display: block;
  border: none;
}

.c-section__title {
  font-size: 32px;
  margin-bottom: 10px;
  padding-top: 55px;
  font-weight: bold;
  line-height: 1.4;
}

.c-section__title__en {
  font-size: 16px;
  color: #3ba6c9;
  line-height: 1.5;
}

.p-features {
  text-align: center;
}

.p-features__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-features__container {
  margin-top: 57px;
  margin-bottom: 86px;
}

.p-features__title {
  font-size: 28px;
  margin-bottom: 61px;
}

.p-features__text {
  text-align: left;
}

.p-features__text h4 {
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 2;
  font-weight: bold;
}

.p-features__text p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

.p-price {
  text-align: center;
  background-color: #eefbfb;
  width: 100%;
  padding-top: 55px;
}

.p-price__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-price__table {
  width: 100%;
  height: 410px;
  margin: 70px auto 36px auto;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
}

.p-price__table th {
  border: 1px solid #e5e5e5;
  width: 30%;
  padding: 35px 19px;
  min-width: 300px;
  font-size: 16px;
}

.p-price__table td {
  border: 1px solid #e5e5e5;
  width: 70%;
  text-align: left;
  padding: 35px;
}

.p-price p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  padding-bottom: 68px;
}

.p-faq {
  width: 100%;
  text-align: center;
  padding-top: 55px;
}

.p-faq__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-faq__content {
  width: 907px;
  margin: 32px auto 86px;
}

.p-faq__question {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 18px;
}

.p-faq__answer {
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 1.8;
  text-align: left;
  padding: 23px 87px 27px 35px;
  display: none;
}

.p-faq__answer.open {
  display: block;
}

.p-blog {
  background-color: #eefbfb;
  padding-top: 55px;
  text-align: center;
}

.p-blog__inner {
  width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 70px;
}

.p-blog__list {
  margin-top: 54px;
  padding-bottom: 91px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(389px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(389px, 1fr));
  grid-gap: 30px;
}

.p-blog__item {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  height: 387px;
  background-color: #ffffff;
}

.p-blog__item__img {
  height: 260px;
}

.p-blog__item__img img {
  width: 100%;
  height: 100%;
}

.p-blog__item__text {
  position: relative;
  height: 127px;
}

.p-blog__item__text__sentence {
  height: 78px;
  padding: 14px 30px 1px 18px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
}

.p-blog__item__text__date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-right: 32px;
  font-weight: bold;
}

.p-works {
  text-align: center;
  padding-top: 55px;
}

.p-works .swiper-container {
  width: 100vw;
  padding-top: 68px;
  margin-bottom: 90px;
}

.p-works .swiper-container .swiper-slide {
  width: 322px;
  height: 407px;
  margin-right: 56px;
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.p-works .swiper-container .swiper-slide img {
  width: 100%;
  height: 210px;
}

.p-works .swiper-container .swiper-slide__text {
  padding: 18px 18px 40px 18px;
  text-align: left;
}

.p-works .swiper-container .swiper-slide__text__sentence {
  padding-bottom: 30px;
  font-size: 16px;
}

.p-works .swiper-container .swiper-slide__text p {
  font-size: 14px;
}

.p-contact {
  padding-top: 63px;
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#05a5fa), color-stop(100%, #63fbd7), to(#67ffd6));
  background: transparent linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
  padding-bottom: 70px;
}

.p-contact .c-section__title {
  color: #ffffff;
}

.p-contact .c-section__title__en {
  color: #ffffff;
}

.p-contact .c-section__title__sub {
  color: #ffffff;
  font-size: 16px;
  margin-top: 36px;
  margin-bottom: 44px;
}

.p-contact__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.p-contact__form {
  background-color: #ffffff;
  height: 689px;
  text-align: left;
  padding: 35px 63px;
  width: 100%;
}

.p-contact__form span {
  background-color: #0c449b;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 16px;
  margin-left: 23px;
}

.p-contact__form__text {
  display: block;
  background-color: #eefbfb;
  border: none;
  border-radius: 3px;
  width: 499px;
  height: 43px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.p-contact__form__textarea {
  display: block;
  background-color: #eefbfb;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 179px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.p-contact__form__privacy {
  text-align: center;
  margin-bottom: 30px;
}

.p-contact__form .c-button {
  display: block;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */