.c-section__title {
  font-size: 32px;
  margin-bottom: 10px;
  padding-top: 55px;
  font-weight: bold;
  line-height: 1.4;

  @include sp-layout() {
    font-size: 27px;
  }

  &__en {
    font-size: 16px;
    color: #3ba6c9;
    line-height: 1.5;
  }
}
