.l-header {
  top: 0;
  width: 100%;
  position: fixed;
  height: 94px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: $white-color;
  z-index: 1000;

  &__inner {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 100%;
  }

  img {
    width: 47px;
    height: 47px;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-left: 16px;
  }

  &__nav {
    align-items: center;

    &__item {
      margin-right: 45px;

      &:nth-child(3) {
        margin-right: 184px;
      }
    }
  }
}
