.p-faq {
  width: 100%;
  text-align: center;
  padding-top: 55px;

  &__inner {
    max-width: 1022px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
  }

  &__content {
    width: 907px;
    margin: 32px auto 86px;

    @include sp-layout() {
      width: auto;
    }
  }

  &__question {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 18px;

    @include sp-layout() {
      padding: 20px 4vw 18px;
    }
  }

  &__answer {
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
    padding: 23px 87px 27px 35px;
    display: none;

    @include sp-layout() {
      padding: 23px 4vw 23px;
    }
  }

  &__answer.open {
    display: block;
  }
}
