.p-faq {
  width: 100%;
  text-align: center;
  padding-top: 55px;

  &__inner {
    max-width: 1022px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
  }

  &__content {
    width: 100%;
    margin: 32px auto 86px;
  }

  &__question {
    height: 58px;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 20px;
  }

  &__answer {
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    height: 70px;
    padding-left: 35px;
    text-align: left;
    padding-top: 20px;
  }
}
